{{#if hasTitle}}
  <h1 class="{{bem b "title" m}}">{{title}}</h1>
{{/if}}

<div class="{{bem b "content" m}}">{{yield}}</div>

<button type="button" name="button" class="{{bem b "button" m}}">{{button}}</button>
