<h2 id="title">BEM Sauce</h2>

<button type="button" name="button" {{action 'toggleDisabled'}}>Toggle Disabled {{disabled}}</button>
<button type="button" name="button" {{action 'toggleActive'}}>Toggle Active {{active}}</button>

{{test-component title="Demo Component" button="Go!" disabled=disabled active=active}}

{{outlet}}
